<div class="box-item article-box compaign-box">
    
    <div class="box-item__content">
        <div class="box-image">
            <img [src]="product.image" alt="brand image">
            <div class="box-item__hover">
                <!-- <div class="actions">
                    <button class="icon-btn delete">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="icon-btn">
                        <i class="far fa-pen"></i>
                    </button>
                </div> -->
                <a class="custom-btn btn-block btn-info">
                    Add to Cart
                </a>
                <a [routerLink]="['/products/product-details/', product.id]" class="custom-btn btn-block">
                    details
                </a>
            </div><!--End box-item__hover-->
        </div><!--End box-image-->
        <div class="box-item__head ">
            <div class="author">
                <h3 class="box-head-name" >
                    <a [routerLink]="['/products/product-details/', product.id]">
                        {{product.title}}
                    </a>
                    
                </h3>
                <span>{{product.category}}</span>
            </div><!--End autohr-->
        </div><!--End ENd box-item__head-->
        <div class="box-description">
            <p>
                {{product.description.slice(0,70)}}...
            </p>
            <div class="campaign-budget">
                <div>
                    <span class="sm-title">
                        price
                    </span>
                    <span class="data">${{product.price}}</span>
                </div>
                <!-- <div>
                    <span class="sm-title">Offer will end</span>
                    <span class="data">12 Feb 2020</span>
                </div> -->
            </div><!--End compaign-budget-->
        </div>
    </div><!--End box-item__content-->
    
</div><!--End box-item-->