<div class="box-item article-box compaign-box">

    <div class="box-item__content">
        <div class="box-image skeleton">
           
        </div><!--End box-image-->
        <div class="box-item__head d-block">
            
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text skeleton-text__body"></div>
        </div><!--End ENd box-item__head-->
        <div class="box-description">
            <p>
                <span class="skeleton skeleton-text"></span>
                <span class="skeleton skeleton-text"></span>
                <span class="skeleton skeleton-text skeleton-text__body"></span>
            </p>
            <div class="mt-20"></div>
            <div class="campaign-budget d-block">
                <div class="sm-title skeleton skeleton-text skeleton-footer"></div>
                <!-- <div>
                    <span class="sm-title">Offer will end</span>
                    <span class="data">12 Feb 2020</span>
                </div> -->
            </div><!--End compaign-budget-->
        </div>
    </div><!--End box-item__content-->
    
</div><!--End box-item-->