<footer class="footer ">
    <div class="container">
        <div class="main-footer">
            <div class="footer-brand">
                <a href="#" class="logo-text">
                    <b>STC</b> store
                </a>
            </div>
            <ul class="footer-nav">
                
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                        Brands
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'pricing' | transloco}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'aboutUs' | transloco}}
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {{'contactUs' | transloco}}
                    </a>
                </li> 
            </ul>
        </div><!--End main-footer-->
        
    </div><!--End container-->
    <div class="footer-copyRight">
        <div class="container">
            <div class="copyRight-content">
                <ul class="social-list">
                    <li class="social-list__item text">
                        Follow us
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-link">Twitter</a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-link">Facebook</a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-link">Instagram</a>
                    </li>
                    <li class="social-list__item">
                        <a href="#" class="social-link">Linkedin</a>
                    </li>
                </ul>
                <p>
                    © 2020, STC Store. All rights reserved.
                </p>
                <ul class="copyRight-links">
                    <li><a class="copyRight-link" href="cookies-policy.html">Cookies Policy</a></li>
                    <li><a class="copyRight-link" href="legal-terms.html">Legal Terms</a></li>
                    <li><a class="copyRight-link" href="privacy-policy.html">Privacy Policy</a></li>
                </ul>
            </div>
        </div><!--End container-->
    </div><!--End footer-copyRight-->
</footer>