<div class="row sm-gutters filter-inputs">
    <div class="col-lg-3">
        <div class="form-group has-icon">
            <select class="form-control">
                <option selected class="placeHolder-select">brand</option>
                <option>brand</option>
                <option>brand</option>
                <option>brand</option>
            </select>
            <i class="fa fa-caret-down"></i>
        </div><!--End form-group-->
    </div><!--End col-->
    <div class="col-lg-3">
        <div class="form-group has-icon">
            <select class="form-control">
                <option selected class="placeHolder-select">status</option>
                <option>status</option>
                <option>status</option>
                <option>status</option>
            </select>
            <i class="fa fa-caret-down"></i>
        </div><!--End form-group-->
    </div><!--End col-->
    <div class="col-md-3">
        <div class="form-group has-icon">
            <input class="form-control datepicker" type="text" placeholder="Published date">
            <i class="fa fa-caret-down"></i>
            <!-- <label class="float-label">Published date</label> -->
        </div><!--End form-group-->
    </div><!--ENd col-->
    <div class="col-md-3">
        <div class="form-group has-icon">
            <input class="form-control datepicker" type="text" placeholder="Expire date">
            <i class="fa fa-caret-down"></i>
            <!-- <label class="float-label">Published date</label> -->
        </div><!--End form-group-->
    </div><!--ENd col-->
    
</div><!--End row-->